<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>苏州联云旅游科技有限公司</title>
    <% include header %>
</head>
<body id="login" class="">
<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
<!--HEADER-------------------------------------------------------------------------->
<header id="header">
    <!--logo--------------------------------------->
    <div id="logo-group">
        <span id="logo"> <img src="/img/logo.png" alt="HolidayCloud"> </span>
    </div>
    <!--end logo----------------------------------->

</header>
<!--END HEADER---------------------------------------------------------------------->
<!--MAIN------------------------------------------------------------------------>
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="well">
            <div class="row">
                <label class="col-xs-6">订单号</label>
                <label class="col-xs-6"><%= order.orderID %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">创建日期</label>
                <label class="col-xs-6"><%= order.orderDate %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">订单状态</label>
                <label class="col-xs-6"><%= order.status %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">使用日期</label>
                <label class="col-xs-6"><%= order.startDate %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">产品名称</label>
                <label class="col-xs-6"><%= order.product.name %></label>
            </div>
            <div class="row">
                <label class="col-xs-6">产品卖价</label>
                <label class="col-xs-6"><%= order.price.price %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">数量</label>
                <label class="col-xs-6"><%= order.quantity %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">联系人</label>
                <label class="col-xs-6"><%= order.liveName %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">联系人手机号</label>
                <label class="col-xs-6"><%= order.contactPhone %></label>
            </div>

            <% if(order.address){ %>
            <div class="row">
                <label class="col-xs-6">收货人</label>
                <label class="col-xs-6"><%= order.address.name %></label>
            </div>

            <div class="row">
                <label class="col-xs-6">收货地址</label>
                <label class="col-xs-6"><%= order.address.showtext %></label>
            </div>
            <% } %>

            <div class="row">
                <label class="col-xs-6">支付方式</label>
                <label class="col-xs-6"><%= order.payWay %></label>
            </div>


            <div class="row">
                <label class="col-xs-6">总计</label>

                <h2><label class="col-xs-6"><%= order.totalPrice %></label></h2>
            </div>

            <% if(order.remark){ %>
            <div class="row">
                <label class="col-xs-6">备注</label>
            </div>
            <div class="row">
                <label class="col-xs-12"><%= order.remark %></label>
            </div>
            <% } %>
        </div>
    </div>

</div>
<!--END MAIN----------------------------------------------------------->
</body>
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="/js/libs/jquery-2.0.2.min.js"></script>

<script src="/js/libs/jquery-ui-1.10.3.min.js"></script>
<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
<!-- BOOTSTRAP JS -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- CUSTOM NOTIFICATION -->
<script src="/js/notification/SmartNotification.min.js"></script>
<script type="text/javascript">
</script>
</html>